* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --container-width: 1200px;
  --color-black: #000;
  --color-white: #fff;
  --color-main-light: #ece7e5;
  --color-main-dark: #cfc4bc;
  --box-shadow-base: 0 0 4px 1px rgba(0, 0, 0, 0.35);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-black);
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-main-dark);
}

.button {
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 12px;
  padding: 8px 12px;
  transition: box-shadow 0.2s ease;
  cursor: pointer;
}

.button:hover {
  box-shadow: var(--box-shadow-base);
}

/* ___Header___ */

.header {
  max-width: 85%;
  width: 100%;
  padding: 32px;
  display: flex;
  justify-content: space-between;
}

/* Header Nav */

.header__nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__nav li {
  list-style-type: none;
}

/* Section-1 */

.section-1 {
  display: flex;
  width: 100%;
}

.section-1-text,
.section-1-image {
  width: 50%;
}

.section-1-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-main-light);
}

.section-1-text-container {
  width: 75%;
}

.section-1-text-logo {
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.section-1-text-title {
  font-size: 36px;
}

.section-1-text-title h1 {
  margin-bottom: 18px;
  font-weight: 400;
  line-height: 1.1;
}
.section-1-text-text {
  margin-bottom: 36px;
  font-weight: 300;
  line-height: 1.5;
}

.section-1-text-button {
  display: inline;
  cursor: pointer;
  transition: color 0.2s ease;
}

.section-1-text-button:hover {
  color: var(--color-main-dark);
}

.section-1-image {
  object-fit: cover;
}
